.preloaderCont{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--themebackgroundmain);
    z-index: 97;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 0.5s;
}

.iconimagePreloader{
    position: relative;
    height: fit-content;
    width: fit-content;
}

.questionContMain{
    background: var(--translucentbgDark);
    box-shadow: 0px 0px 20.9143px -1.74286px rgba(0, 0, 0, 0.13);
    backdrop-filter: blur(48px);
    border-radius: 14px;
    color: var(--headText);
    overflow: hidden;
    width: 70vw;
    height: 70vh;
    min-height: 400px;
    min-width: 570px;
    display: flex;
}
